h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}


body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif, "Raleway", sans-serif;
    color: #757575;
    letter-spacing: 0.03em;
    margin: 0px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

 
.section {
    padding: 60px 0;
}


img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}


.sub-input {
    width: 360px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 15px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-input:focus,
.sub-input:hover,
.sub-input:active {
    border-color: #c921f3;
    outline: 0;
    outline-offset: 0;
    cursor: pointer;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-form input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.btn-sub {
    display: block;
    outline: transparent;
    cursor: pointer;
    padding: 10px 62px 10px 29px;
    border-width: 0;
    width: 180px;
    height: 50px;
    background: #c921f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-sub:hover,
.btn-sub:focus {
    background-color: #e06ffd;
}

.btn-cont {
    position: relative;
}

.btn-cont.btn-sub {
    display: block;
}

.icon-sub {
    position: absolute;
    fill: #FFFFFF;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-sub {
    width: 100%;
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;
    justify-content: baseline;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-items: center;
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1923;
    color: #c921f3;
    padding-top: 16px;
    padding-bottom: 16px;
    padding: 0;
    margin-right: 50px;
}


.logo-header-studio {
    color: #000000;
}

.header-nav {
    
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
}


.container-nav {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}


.nav-list {
    display: flex;
    align-items: center;
}

.header-contacts {
        font-size: 14px;
        gap: 30px;
        display: flex;
        margin-left: auto;
}


.header-contact-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item {
    margin-right: 0px;
}

.header-nav:hover,
.header-nav:focus {
    color: #c921f3;
}


.link-contacts {
    display: flex;
    color: #757575;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover,
.link-contacts:focus {
    color: #c921f3;
}

.link-contacts:hover .header-icon,
.link-contacts:focus .header-icon {
    fill: #c921f3;
}


.header-nav.current {
    display: flex;
    color: #c921f3;
}

.hero {
    text-align: center;
    max-width: 100%;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(40, 36, 42, 0.4), rgba(45, 39, 46, 0.4)), url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}


    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
    }



.hero__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}




    .hero__title {
        max-width: 670px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
    }



.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: rgb(245, 244, 250);
}


.team__container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


    .team__container {
        width: 1200px;
    }


.team__title {
    margin-bottom: 30px;
    color: #212121;
    margin-top: 0px;
    text-align: center;
    font-weight: 700;
}




    .team__title {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }


.team__list {
    list-style: none;
}


    .team__list {
        display: flex;
        flex-wrap: wrap;
    }

.team__item {
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}



.team-photo {
height: 350px;


}

  
    .team__item {
        flex-basis: calc((100% - 90px) / 4);
        margin-right: 30px;
        margin-bottom: 0;
    }

    .team__item:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }

.team__name-text {
    text-align: center;
}

.team__name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 0px;
}

.team__text {
    color: rgb(117, 117, 117);
    font-size: 16px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 30px;
}




.benefits__subtitle {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.1429;
    text-transform: uppercase;
    color: #212121;
}



.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



    .benefits__item {
        width: calc((100% - 90px) / 4);
    }


.benefits__wrap {
    background-color: #F5F4FA;
    margin-bottom: 30px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
.benefit1{
background-image: url(/images/benefit1.jpg);
}

.benefit2 {
    background-image: url(/images/benefit2.jpg);
}
.benefit3 {
    background-image: url(/images/benefit3.jpg);
}
.benefit4 {
    background-image: url(/images/benefit4.jpg);
}


    .work {
        display: block;
        padding-top: 0;
    }

    .work .list {
        display: flex;
    }

.work__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.work__item {
    position: relative;
}

.work__item {
    width: 370px;
    margin-right: 30px;
}

.work__text {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(55, 47, 58, 0.8);
    color: #ffffff;
}

.footer {
    background-color: #362d3d;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.footer .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    max-width: 480px;
    gap: 70px;
    justify-content: center;
}

  

    .footer .container {
        max-width: 1200px;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: row;
    }


.logo-foooter-studio {
    color: #ffffff;
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-cont {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-hover:hover,
.cont-hover:focus {
    color: #c921f3;
}

address {
    display: flex;
}

.logo-foot {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1923;
    color: #c921f3;
}

.footer-list {
    margin-top: 20px;
    display: inline-block;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-text {
    font-weight: 700;
    width: 116px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.invite-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}


    .invite-container {
        margin: 0;
        align-items: start;
    }



    .invite-container .contacts-wrap+.invite-container {
        margin-left: 0px;
    }


.form-wrap {
    color: #ffffff;
    display: flex;
    margin-right: 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}


    .form-wrap {
        float: right;
        width: 570px;
        align-items: start;
    }

    .footer-contacts {
        align-items: baseline;
        display: flex;
        margin: auto;
        justify-content: space-between;
        flex-direction: row;
        gap: 70px;
        float: left;
        margin: 0;
    }


.footer-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.form-title {
    min-width: 200px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.footer-sl {
    margin-left: 70px;
    display: flex;
    gap: 10px;
}

.social-list {
    margin-left: 0;
}

.footer-icon {
    fill: #ffffff;
}

.footer-link-social {
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-input {
    width: 100%;
    margin-bottom: 0;
    width: 360px;
}


.contacts-wrap {
    text-align: left;
}


.link-social {
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    width: 44px;
    height: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-position: 50% 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:focus,
.link-social:hover {
    background-color: #c921f3;
}
